---
import { data } from "../data.js"
const education = data.education
---

<section id="education" class="mb-12">
    <h2 class="text-3xl font-bold mb-4">Education</h2>
    <div class="flex px-4">
        {
            education.map((education) => (
                <div class="bg-secondary-bg rounded-lg p-6">
                    <h3 class="text-xl font-bold">{education.title}</h3>
                    <p class="text-secondary-font mb-4">{education.major}</p>
                    <p class="text-secondary-font">{education.institution}</p>
                    <p class="text-secondary-font text-sm">{education.location}</p>
                    <p class="text-tertiary-font text-xs">{education.date}</p>
                </div>
            ))
        }
    </div>
</section>
