---
import { data } from "../utils/data.js"
const education = data.education
---

<section id="education" class="mb-12">
    <h2 class="text-3xl text-center font-bold mb-8">Education</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-4 md:px-8 lg:px-12">
        {
            education.map((education) => (
                <div class="bg-secondary-bg bg-opacity-75 rounded-lg p-4 sm:p-6">
                    <h3 class="text-lg sm:text-xl font-bold">{education.title}</h3>
                    <p class="text-secondary-font mb-2 sm:mb-4">{education.major}</p>
                    <p class="text-secondary-font">{education.institution}</p>
                    <p class="text-secondary-font text-sm">{education.location}</p>
                    <p class="text-tertiary-font text-xs">{education.date}</p>
                </div>
            ))
        }
    </div>
</section>
