---
import Tag from "../components/Tag.jsx"
import { Icon } from "astro-iconify"

import ProfilePic from "../assets/images/face/profile_pic.png"
import GradPic from "../assets/images/face/grad-pic.png"
import LocationIcon from "../assets/images/icons/mdi--location.png"

const isLocal = import.meta.env.MODE === "development"
const imageSrc = isLocal ? ProfilePic.src : GradPic.src
// const imageSrc = GradPic.src

const socialLinks = [
    { name: "GitHub", icon: "mdi:github", url: "https://github.com/DarrelTraballo" },
    { name: "LinkedIn", icon: "mdi:linkedin", url: "https://www.linkedin.com/in/darrel-traballo" },
    { name: "Email", icon: "mdi:email", url: "mailto:darreltraballo1121@gmail.com" },
]
---

<!-- Header.astro -->
<section id="home" class="mb-12 mx-2">
    <div
        class="grid grid-cols-1 md:grid-cols-2 gap-10 bg-gradient-to-b from-secondary-bg rounded-lg px-6 md:px-14 py-8 justify-center">
        <div class="order-2 md:order-1">
            <h1 class="text-4xl md:text-5xl pt-4 font-bold">Yo, I'm <br /> Darrel Traballo</h1>

            <div class="py-2 flex flex-wrap gap-2">
                <Tag name="Game Developer" />
                <Tag name="Unity" />
            </div>
            <div class="flex flex-wrap gap-2 pb-2">
                <Tag src={LocationIcon.src} text="Mandaluyong City, Metro Manila, Philippines" />
            </div>
            <p class="text-justify text-sm md:text-base mt-4">
                I'm a <span id="age"></span> year old Game Developer who loves creating interactive experiences through code.
                I specialize in solving gameplay and technical challenges, especially by recreating game systems to sharpen
                my skills. I’m excited to apply my experience to projects that break new ground in gaming.
            </p>
            <div class="flex flex-wrap gap-2 mt-2">
                {
                    socialLinks.map(({ name, icon, url }) => (
                        <a
                            href={url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="group flex items-center justify-center rounded-full py-2 text-primary-font transition-colors hover:text-tertiary-font"
                            aria-label={name}>
                            <Icon
                                name={icon}
                                class="w-6 h-6 text-primary-font transition-all group-hover:text-secondary-font group-hover:scale-110 sm:h-8 sm:w-8"
                            />
                        </a>
                    ))
                }
            </div>
        </div>
        <div class="justify-self-center order-1 md:order-2">
            <img
                src={imageSrc}
                alt={"Darrel Traballo's profile picture"}
                class="w-auto h-auto xl:max-w-96 xl:max-h-96 lg:max-w-96 lg:max-h-96 rounded-full object-cover"
            />
        </div>
    </div>
</section>
<!-- <hr class="text-black" /> -->

<script>
    const dob = new Date("11/21/2002")
    var diff_ms = Date.now() - dob.getTime()
    var age = Math.abs(new Date(diff_ms).getUTCFullYear() - 1970)
    document.querySelector("#age").textContent = age.toString()
</script>
