---
import Tag from "../components/Tag.jsx"
import Button from "../components/Button.jsx"
import { Icon } from "astro-iconify"
import icons from "../utils/icons.js"
import AnimatedProfileImage from "../components/AnimatedProfileImage.jsx"

import Bulbasaur from "../assets/images/face/profile_pic.png"
import GradPic from "../assets/images/face/grad-pic.png"
import ProfilePic from "../assets/images/face/Traballo-pic.jpg"

const isLocal = import.meta.env.MODE === "development"
const toPic = isLocal ? Bulbasaur.src : ProfilePic.src
const fromPic = isLocal ? ProfilePic.src : Bulbasaur.src

const resumePath = "/Traballo - Game Developer Resume.pdf"
// const imageSrc = GradPic.src

const socialLinks = [
    { name: "GitHub", icon: "mdi:github", url: "https://github.com/DarrelTraballo" },
    { name: "LinkedIn", icon: "mdi:linkedin", url: "https://www.linkedin.com/in/darrel-traballo" },
    { name: "Email", icon: "mdi:email", url: "mailto:darreltraballo1121@gmail.com" },
]
---

<section id="home" class="mb-12 mx-2">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 bg-primary-bg/75 rounded-lg px-6 md:px-14 py-12 justify-center">
        <div class="order-2 md:order-1">
            <h1 class="text-4xl md:text-5xl pt-4 font-bold">Yo, I'm <br /> Darrel Traballo</h1>

            <div class="py-2 flex flex-wrap gap-2">
                <Tag
                    iconSrc={icons.GameDeveloper}
                    displayText="Game Developer"
                    index="Game Developer"
                    expandable={false}
                />
                <Tag iconSrc={icons.Unity} displayText="Unity" index="Unity" expandable={false} />
            </div>
            <div class="flex flex-wrap gap-2">
                <Tag
                    iconSrc={icons.Location}
                    displayText="Mandaluyong City, Metro Manila, Philippines"
                    index="Location"
                    expandable={false}
                />
            </div>
            <p class="text-justify text-sm md:text-base mt-2">
                I'm a <span id="age"></span> year old Game Developer specializing in designing and implementing game mechanics
                in Unity, focusing on bringing interactive systems to life and ensuring they work cohesively. I enjoy creating
                engaging and responsive gameplay experiences, from core mechanics to interconnected systems. I also have
                a passion for creating visually striking experiences, often exploring shaders and procedural techniques to
                enhance aesthetics.
            </p>
            <div class="flex flex-wrap gap-2 mt-5">
                <Button iconSrc={icons.FileDownload} displayText="Resume" href={resumePath} />
                {
                    socialLinks.map(({ name, icon, url }) => (
                        <a
                            href={url}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="group flex items-center justify-center rounded-full py-2 text-primary-font transition-colors hover:text-tertiary-font"
                            aria-label={name}>
                            <Icon
                                name={icon}
                                class="w-6 h-6 text-primary-font transition-all group-hover:scale-110 sm:h-8 sm:w-8"
                            />
                        </a>
                    ))
                }
            </div>
        </div>
        <div class="justify-self-center order-1 md:order-2">
            <div class="relative w-auto h-auto xl:max-w-96 xl:max-h-96 lg:max-w-96 lg:max-h-96">
                <AnimatedProfileImage
                    toPic={toPic}
                    fromPic={fromPic}
                    alt="Darrel Traballo's profile picture"
                    className="w-full h-full"
                    client:load
                />
            </div>
        </div>
    </div>
</section>

<script>
    const dob = new Date("11/21/2002")
    var diff_ms = Date.now() - dob.getTime()
    var age = Math.abs(new Date(diff_ms).getUTCFullYear() - 1970)
    document.querySelector("#age").textContent = age.toString()
</script>
