---
import ProjectCard from "../components/ProjectCard.jsx"
import { data } from "../data.js"

const projects = data.projects
---

<!-- ProjectsSection.astro -->
<section id="projects" class="mb-12">
    <h2 class="text-2xl md:text-3xl font-bold mb-8">Game Development Projects</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 items-stretch px-4 md:px-8 lg:px-12 mb-12">
        {
            projects
                .filter((project) => project.tag === "Game Development")
                .map((project) => (
                    <ProjectCard
                        title={project.title}
                        tag={project.tag}
                        techs={project.tech}
                        description={project.description}
                        details={project.details}
                        imageSrc={project.imageSrc}
                    />
                ))
        }
    </div>
    <h2 class="text-2xl md:text-3xl font-bold mb-8">Other Projects</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 items-stretch px-4 md:px-8 lg:px-12">
        {
            projects
                .filter((project) => project.tag === "Others")
                .map((project) => (
                    <ProjectCard
                        title={project.title}
                        tag={project.tag}
                        techs={project.tech}
                        description={project.description}
                        details={project.details}
                        imageSrc={project.imageSrc}
                    />
                ))
        }
    </div>
</section>
